{block content}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 n:block=title>Sign In</h1>

      {import '../../../components/form.latte'}
      {include bootstrap-form signInForm}
    </div>
  </div>
</div>
